<h1>Editing Necessary Study Time</h1>

<%= render 'form', necessary_study_time: @necessary_study_time %>

<%= link_to 'Show', @necessary_study_time %> |
<%= link_to 'Back', necessary_study_times_path %>
