<div class="panel panel-default">
	<div class="panel-body">
		<%= form_tag(import_admin_users_path, :method => :post, multipart: true) do %>
			<div class="form-group">
				<%= file_field_tag :csv_file %>
			</div>
			<%= submit_tag "CSVアップロード", :class => "btn btn-primary" %>
		<% end %>
<%= link_to 'CSVダウンロード', params.merge({:format => :csv}).permit!, class: 'btn btn-success' %>
	</div>
</div>
